<% provide(:title, "Admin") %>
<h1>Admin</h1>
<p>
    This is the Admin page for sample app
    <br>
    Find me in app/views/static_pages/admin.html.erb
</p>

<%= link_to "New Product", new_product_path, class: "btn btn-primary"%>

